{% extends "theater/base.html" %}
{% load static %}
{% block content %}
<h2>AYNABAJI</h2>

<div class="imagecontainer">   
    <div class="polaroid">
      <img src="{% static 'Aynabaji.jpg' %}" alt="5 Terre" style="width:100%">
    </div>
    <div class="container">
        <p>Aynabaji (Bengali: আয়নাবাজি) is a 2016 Bangladeshi crime thriller film directed by Amitabh Reza Chowdhury and produced by Ziauddin Adil. The film stars Chanchal Chowdhury, Masuma Rahman Nabila and Partha Barua in lead roles. It is the director Amitabh Reza's first feature film. It was released on 30 September 2016. It is considered a milestone of Bangladeshi films in recent times.</p>
    </div>
</div>
<div class="imagecontainer">
    <iframe width="950" height="300"
            src="https://www.youtube.com/watch?v=YEhb47AiY2s&t=329s">
    </iframe>
</div>
           
{% endblock content %}